extends _layouts/base

include _mixins/data-source

append head
  include _react-scripts
  script(type="module" src="/js/alberta-index.js")

block main
  .title
    h1=t("ab.title")
    +data-source("ab")
  #root
