extends _base

append head
  script(type="module" src="index.js")

block main
  .title
    h1=siteTitle
    p All data sourced from the #[a(href=prciec.href)=prciec.label]
    p See our #[a(href="/about") about page] to learn more.
  #root
