extends _base

append head
  include _react-scripts
  script(type="module" src="/js/mp-page.js")

block main
  .title
    h1 Is My MP a Landlord?
    p All data sourced from the #[a(href=prciec.href)=prciec.label]
    p See our #[a(href="/about") about page] to learn more.
  #root
