extends _base

append head
  include _react-scripts
  script(type="module" src="/js/ontario-index.js")

block main
  .title
    h1=t("on.title")
    p All data sourced from the #[a(href=t("pds.href"))=t("pds.label")]
    p (NOTE: Data reflects the previous parliament, and is not up to date with the latest election.
    p Once new ethics disclosures are filed, we will update this page.)
  #root
