extends _layouts/base

include _mixins/data-source

append head
  include _react-scripts
  script(type="module" src="/js/ontario-index.js")

block main
  .title
    h1=t("on.title")
    +data-source("on")
    p (NOTE: Data reflects the previous parliament, and is not up to date with the latest election. Once new ethics disclosures are filed, we will update this page.)
  #root
