extends _layouts/base

include _mixins/data-source

append head
  include _react-scripts
  script(type="module" src="/js/quebec-index.js")

block main
  .title
    h1=t("qc.title")
    +data-source("qc")
  #root
